body{
    margin: 0;
    background-color: rgb(74, 67, 67);

}
/*centralizar o site*/
.container{
 width:80%; 
 margin: auto;
 
}

header{
    background-color: rgb(247, 182, 0);
    color: rgb(43, 34, 34);
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
}
    

.conteudo{  
    display: flex; /*ativa o flexbox*/
    margin-top: 5px;
    margin-bottom: 5px;
}

nav{
    width: 30%;
    background-color:rgb(247, 182, 0);
    padding: 15px;
    color: bisque;
}

main{
    display: flex;
    width: 70%;
    background-color: rgb(247, 182, 0);
    padding: 20px;
    color: bisque ;

}

footer{
    background-color:rgb(26, 31, 113);
    font-family:sans-serif;
    font-size:large;
    text-align: center;
    padding: 15px;
    color:bisque;

}

section{
    background-color: rgb(26, 31, 113);
    padding: 20px;
    width: 80%;
    text-align: justify;
    border-radius: 15px;
}

aside{ 
    background-color: rgb(26, 31, 113);
    padding: 20px;
    width:20%;
    margin-left:10px ;
    border-radius : 15px;
    
}


header .logo{
    background-color: aliceblue;
    padding: 10px;
    width: 30%;
    margin-right: 10px;
    border-radius: 15px;
}

header .titulo {
    background-color: rgb(26, 31, 113);
    padding: 10px;
    width: 70%;   
    border-radius: 15px;
    color: aliceblue;
}

header .logo img {
    width:100% ;
    
}